.App {
    text-align: center;
    font-size: 36px;
    color: #ed145b
}
.Container{
    background-color: #F6F0FF;
    width: 90%;
    max-width: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    margin: 70px;
}