body,
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #313147;
  background-attachment: fixed;
  color: #313147;
}

.contentBox {
  margin-left: 35px;
  margin-right: 35px;
}

colors {
      White: #ffffff;
      PrimaryDark: #4B06B6;
      PrimaryMedium: #B88DFB;
      PrimaryLight: #D7BFFD;
      PrimaryLightest: #F0E6FE;
  
      SecondaryDark: #127D96;
      SecondaryMedium: #29C1E5;
      SecondaryLight: #84DBF0;
      SecondaryLightest: #DFF6FB;
  
      TertiaryDark: #313147;
      TertiaryMedium: #363678;
      TertiaryLight: #3A3AA6;
      TertiaryLightest: #3A3AD9;
  
      NeutralDark: #3333D6;
      NeutralMedium: #8888E7;
      NeutralLight: #B3B3F0;
      NeutralLightest: #DDDDF8;
  
      Neutral: #F5F5F5;
      Warning: #C35403;
      Report: #E16206;
      Error: #F87C23;
      Success: #508110;
  
      BackgroundDisabled: #F6F0FF;
}